@tailwind base;
@tailwind components;
@tailwind utilities;
@config 'tailwind.config.js';

@layer base {
    :root.dark {
        color-scheme: dark;
    }

    /* When scrolling to validation error, do not hide element behind the top bar */
    [data-field-wrapper] {
        scroll-margin-top: 8rem;
    }
}

.fi-sidebar {
    background-color: #FFFFFF !important;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1) !important;
}


